---
title: "HTTP404 - Page not found"
---


<!DOCTYPE html>
<html id="headsuns" lang="zh-CN" class="nojs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords"  content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ '/assets/css/screen.css' | prepend: site.baseurl }}">
</head>
<body>
	<div id="root">
		<div class="mask"></div>
		<div id="app">
			<header id="header">
				<div class="container">
					<h1 class="brand">
						<a href="https://headsuns.com" title="衡信科技 Headsuns">衡信科技 Headsuns</a>
					</h1>
				</div>
			</header>
			<main id="container">
				<div class="container">
					<div class="hero">
						<p>找不到页面啦！</p>
						<p>We can not found the page you requested.</p>
					</div>
				</div>
			</main>
			<footer id="footer">
				<div class="container">
					<p class="rights" title="&copy; 2020 茂名衡信科技有限公司">&copy; 2020 衡信科技 Headsuns 版权所有 </p>
					<p class="china">
						<a target="_blank" href="http://www.beian.miit.gov.cn" rel="nofollow" title="工信部备案">粤ICP备20038389号-1</a> 
						<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44090202000463" rel="nofollow" title="公安机关备案">粤公网安备 44090202000463</a>
					</p>
				</div>
			</footer>
		</div>
	</div>
	<script id="js-config">{% if site.google_analytics %}var _gaId = '{{ site.google_analytics.id }}';var _gaDomain = '{{ site.google_analytics.domain }}';{% endif %}</script>
	<script id="js-main" src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
</body>
</html>
